<div class="topnav">
  <a href="/">Home</a>
  <a class="active" href="/recipes">Public Recipes</a>
  <a href="/recipes/new">Create a Recipe</a>
  <a href="/users/<%= current_user.id %>">My Recipes</a>
</div> 
<br>
<h3>Edit your recipe:</h3>

<% if @errors %>
  <% @errors.each do |error| %>
    <p style="color: red;"><%= error %></p>
  <% end %>
<% end %>

<form action="/recipes/<%= @recipe.id %>" method="post">
<input type="hidden" name="_method" value="PATCH">
    <label for="name">Recipe Name:</label><br>
    <br>
    <input type="text" name="name" id="name" value="<%= @recipe.name %>"><br>
    <br>
    <label>Select Ingredients</label>
    <br>
    <%#need to implement a while loop here%>
    <% @recipe.ingredients.each do |ingredient| %>
    <label for="amount"></label>
      <input type="text" name="ingredient[][amount]" id="amount" value="<%= ingredient.amount %>">
        <select id="measurement" name="ingredient[][measurement]">
          <% @measurements.each do |measurement|%>
          <option <%= selected="selected" if ingredient.measurement == measurement %> value ="<%= measurement %>"><%= measurement %></option>
          <% end %>
        </select>
    <label for="ingredient_name"></label>
      <input type="text" name="ingredient[][name]" id="ingredient[name]" value="<%= ingredient.name %>"><br>
      <% end%>
    <br>
    <br>
    <label for="method">Method:</label><br>
    <br>
    <textarea rows="10" cols="85" name="method" id="method"> <%= @recipe.method %> </textarea><br>
    <p> Would you like your recipe to be public or private?</p>
        <input type="radio" id="private" name="public" value="false" <%= checked="checked" if !@recipe.public %>>
        <label for="public">Private</label><br>
        <input type="radio" id="public" name="public" value="true" <%= checked="checked" if @recipe.public %>>
        <label for="public">Public</label><br>
    <br>
    <button type="submit" value="submit" id="submit">Submit</button>
  </form>