<h1>This is your recipe</h1>

<h2><%= @recipe.name.titleize %> </h2>

<h3> By:  </h3>
<p></p>
<h3> Ingredients:  </h3>
<p><%= @recipe.ingredients %> </p>
<h3> Method:  </h3>
<p><%= @recipe.method %> </p>

<form action="/recipes/<%= @recipe.id %>/delete">
    <button type="submit">Delete Recipe</button>
</form>
<form action="/recipes/<%= @recipe.id %>/edit">
    <button type="submit">Edit Recipe</button>
</form>
<form action="/recipes">
    <button type="submit">Back to all recipes</button>      
</form>