<div class="topnav">
  <a href="/">Home</a>
  <a href="/recipes">Recipes</a>
  <a href="/recipes/new">Create a Recipe</a>
  <a href="/users/<%= current_user.id %>">My Homepage</a>
</div> 
<br>
<h2>These are all your recipes on the Recipe Scrapbook</h2>
<br>
<ul>
<% if !@recipes.empty?%>
<% @recipes.each do |recipe| %>
<li> <a href="/recipes/<%= recipe.id %>"><%= recipe.name %> </a><br> <%= recipe.ingredients %>
<br> <%= recipe.method %>
</li>
<% end %>
<% else %>
You have no recipes
<% end %>
</ul>
<br>
<form action="/recipes/new">
    <button type="submit">New Recipe</button>
</form>
<br>
<form action="/recipes">
    <button type="submit">Back to all recipes</button>      
</form>